# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Database
*.sqlite3

# Django static and media
/staticfiles/
/media/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
